@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #000;
}

.card{
    width: 350px;
    background-image: url(image/earth.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 2rem auto;
    border-radius: 20px;
    padding: 2.5rem 1rem;
    text-align: center;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search input{
    border: 0;
    outline: 0;
    background: #eee;
    color: #000;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px 25px;
    height: 40px;
    width: 100%;
}

.search img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 5px;
}

.weather h1{
    font-size: 50px;
}

.weather-icon{
    width: 80px;
    margin-top: 35px;
    margin-bottom: 20px;
}

.humidity-icon, .wind-icon{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 8rem;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.humidity, .wind{
    font-size: 18px;
    margin-top: -6px;
}

.humidity-title, .wind-title{
    font-size: 12px;
}

.weather{
    display: none;
}

.error{
    text-align: center;
    font-size: 1rem;
    margin-top: 8rem;
    color: #d30808;
    font-weight: bold;
    display: none;
}